# Godot 4+ specific ignores
.godot/
/android/
Builds/Flobv0_1_0_1.exe
Builds/Flow Free Platformer Demo.exe
Builds/Flobv0_2_0_0PLAYTEST.exe
Builds/Flobv0_2_0_0PLAYTEST.console.exe
Builds/Flobv0_2_0_0Lin.exe
Builds/Flobv0_2_0_0Mac.zip
Builds/Flobv0_2_0_0PLAYTEST_FINAL.console.exe
Builds/Flobv0_2_0_0PLAYTEST_FINAL.exe
Builds/Flobv0_2_0_0Win.exe
